---
import MainLayout from "../layouts/MainLayout.astro";
import Link1 from "../components/Link1.astro";
import Mejericard from "../components/Mejericard.astro";
import Iskort from "../components/Iskort.astro";
---

<MainLayout title="Tothaven Gårdmejeri">
   <div class="relative w-full overflow-hidden">
    <img src="/public/img/hero_gårdmejeri1.png" alt="Grøntsager" class="w-full" />
    <div class="absolute bottom-12 left-12">
      <h1 class="text-[var(--color-primary-content)]">GÅRDMEJERIET</h1>
    </div>
  </div>

    <div class="grid grid-cols-3 ">
      <img src="/public/img/griskloe.png" alt="billede 1" />
      <div>
        <img src="/public/img/grisgrøn.gif" alt="Gris der springer og falder" />
        <h3 class="text-[var(--color-primary)]">Hvor køber jeg?</h3>
        <p class="text-[var(--color-primary)]">
          Vi sælger hovedsageligt vores produkter fra Tothavens egen
          gårdbutik. Vi har både en selvbetjeningsbutik som har åbent alle dage,
          hele året fra kl 8 til 20 og en cafe/butik som har åbent i samme
          tidsrum som besøgsgården. dvs weekender, helligdage og skoleferier kl
          14-17 Men du kan også finde vores produkter hos vores forhandlere.
        </p>
        <Link1>Læs om vores forhandlere</Link1>
      </div>
      <img src="/public/img/kloe.png" alt="billede 2" />
    </div>
  </section>
  </section>
    <Mejericard
      variant="beige"
      image="/public/img/jakobmejeri.webp"
      title="VORES GÅRDMEJERI"
      content="Vi, Pernille, Jakob, Martha og Andrea, har boet her siden februar 2014 hvor vi købte gården af Søren, som i mange år havde drevet den med fritids gartneri og dyrehold. På gården driver vi nu besøgsgård, mejeri, strikkeri, og så udbyder vi mentorforløb for udsatte unge. Besøger du gården kan du møde mange forskelllige dyr bla: høns, Kune Kune grise, Ungarske Uldsvin, malkegeder med kid, moskusænder, løbeænder, kalkuner, honningbier, heste, kaniner, katte og æsler."
    />

    <Mejericard
      variant="green"
      image="/public/img/pindeis.png"
      title="GEDEMÆLKS PINDE-IS"
      content="Tothavens pindeis er inspireret af den italienske Gelato-tradition. Mælkeisene laver vi på basis af friskmalket mælk fra Tothavens geder, æggeblommer fra Tothavens æg, fløde fra Øllingegård og økologisk sukker fra de Lollandske roemarker. Sorbeterne er lavet af danske økologiske frugter og bær. Vi overtrækker alle isene med god økologisk chokolade fra de Hollandske chokoladekonger Original Beans . Alle vores pindeis laver vi i en stor og en lille udgave – så der både er til den store og lille is-sult. Klik på isene nedenfor og læs om vores smage."
    />


    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-center max-w-4xl mx-auto py-16 px-8">
  <Iskort 
    image="/public/img/lakridsis.webp" 
    title="Lakrids Gelato" 
    description="Intens lakridsis lavet med lakridspulver fra ASA Spice, saltlakrids og et strejf citronskal. Overtrukket med hvid chokolade, der giver perfekt balance i smagen." 
    bgColor="bg-gray-300"
  />
  
  <Iskort 
    image="/public/img/chokoladeis.webp" 
    title="Chokolade Gelato" 
    description="Friskmalket gedemælk og 65% økologisk mørk chokolade fra Original Beans i intens samklang. Isen er overtrukket med mørk chokolade og pyntet med fine striber af hvid chokolade." 
    bgColor="bg-teal-700"
    textColor="text-white"
  />

  <Iskort 
    image="/public/img/hasselnodis.webp" 
    title="Hasselnød Gelato" 
    description="Friskmalket gedemælk og økologiske hasselnødder i skøn forening. Isen er overtrukket med en super lækker 42% mælkechokolade fra Original beans" 
    bgColor="bg-green-700"
    textColor="text-white"
  />
    <Iskort 
    image="/public/img/jordbaris.webp" 
    title="Jordbær Gelato" 
    description="Sorbet på pind af lækre solmodne økologiske jordbær fra Ventegodtgård overtrukket med hvid øko chokolade." 
    bgColor="bg-lime-100"
  />
  
  <Iskort 
    image="/public/img/karamelis.webp" 
    title="Karamel Gelato" 
    description="Friskmalket gedemælk og 65% økologisk mørk chokolade fra Original Beans i intens samklang. Isen er overtrukket med mørk chokolade og pyntet med fine striber af hvid chokolade." 
    bgColor="bg-yellow-200"
  />

  <Iskort 
    image="/public/img/rabarberis.webp" 
    title="Rabarber/Hindbær Gelato" 
    description="Smagen af Tothaven: Friskmalket gedemælk, bagte rabarber fra Tothavens rabarber”mark” og lidt hindbær “pakket ind” i økologisk hvid chokolade og drysset med frysetørrede rabarber" 
    bgColor="bg-red-400"
    textColor="text-white"
  />
    <Iskort 
    image="/public/img/havtornis.webp" 
    title="Havtorn Gelato" 
    description="Lækker frisk mælkeis med en aromatisk smag af havtorn. Isen er overtrukket med hvid chokolade og drysset med Hindbærstøv." 
    bgColor="bg-pink-500"
    textColor="text-white"
  />
  
  <Iskort 
    image="/public/img/hyldeblomstis.webp" 
    title="Hyldeblomst" 
    description="Frisk sommer-is med økologiske hyldeblomster, friskpresset citron og citronskal og overtrukket med 65% mørk chokolade." 
    bgColor="bg-purple-400"
    textColor="text-white"
  />

  <Iskort 
    image="/public/img/solbaris.webp" 
    title="Solbær" 
    description="Solbær gelato med den lækre sommerlige sødme og syre fra friske solbær. Isen er overtrukket med hvid chokoalde og drysset med solbærstøv" 
    bgColor="bg-pink-100"
  />
</div>

        <Mejericard
      variant="beige"
      image="/public/img/gedeost.png"
      title="Prisvindende gedeost"
      content="Tothavens lille hvide er en blød, cremet hvidskimmelost lavet på frisk gedemælk, syrnet med kefir og modnet i glas. Den har en mild smag efter 2 uger og passer også til dem, der normalt ikke er til gedeost. Ved længere lagring udvikler den mere karakter og dybde.Osten blev kåret som bedste gedeost og fik en samlet 3. plads ved Nordisk Ostefestival 2019. Den var finalist til Gourmetprisen 2022 og har været omtalt i magasinet Ostekultur som en af “6 hotte oste netop nu”."
    />
    <Mejericard
      variant="green"
      image="/public/img/aftensol.png"
      title="kikhavns aftensol"
      content="I 2023 er vi så småt gået igang med at producere en fast ost med inspiration hentet både fra den hollandske Gouda, den danske Harvarti og Italienske bondeoste. Den er sat i en sicilianske kurveform der giver et smukt mønster i overfladen. Skorpen er helt naturlig og kan spises sammen med resten af osten. Denne ost vil være til salg i forskellige lagringsstadier. fra 2 måneder op til 8 måneder."
    />

      <Mejericard
      variant="beige"
      image="/public/img/krydderolie.png"
      title="gedeost i krydderolie"
      content="En dejlig frisk og syrlig ost som tager smag fra de krydderier den får selskab af i glasset: Vi laver denne ost i 3 varinater. Rosmarin, rosa peber og fennikel. Hvidløg, timian og tørret tomat og så en med enebær, rosmarin og blå kornblomst. Brug den  på brød, i salaten eller i pastaretten."
    />
    <Mejericard
      variant="green"
      image="/public/img/frisk.png"
      title="Pisket Friskost"
      content="En helt frisk og let drænet ost saltet med flagesalt. Denne ost producerer vi kun til engrossalg. Men du kan ofte smage den på Rarbarbergården i Holløse og Restaurant Knud i Hundested Havn"
    />
  </section></MainLayout
>
