---
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout>
    <section>
        <h1>MØD DYRENE</h1>
    </section>

    <section class="px-32">
        <div>
            <h2>TOTHAVENS DYR</h2>
            <div class="grid grid-cols-2">
                <p>På Tothaven er vi glade for dyr… og dyrene er vist også glade for Tothaven…  Neden for kan du læse om de dyr du kan møde på Tothavens Besøgsgård.</p>
                <button>Lyd knap</button>
            </div>
        </div>
        <div>
            12 cards
        </div>
    </section>
</MainLayout>