---
import MainLayout from "../layouts/MainLayout.astro"
import Dyrecard from "../components/Dyrecard.astro"
import Iskort from "../components/Iskort.astro"
import Heading from "../components/Heading.astro"
---


<MainLayout title="Tothavens Dyr">
  <div class="grid w-full">
    <img
      src="/img/index.png"
      alt="Pige og en gris"
      class="w-full h-auto object-cover col-start-1 row-start-1"
    />

    <div
      class="col-start-1 row-start-1 flex items-end p-4 text-[var(--color-primary-content)]">
      <div>
        <h1 class="">Mød dyrene</h1>
      </div>
    </div>
    

    <section class="px-32">
        <div>
            <h3 class="text-[var(--color-primary)]">TOTHAVENS DYR</h3>
            <div class="grid grid-cols-2">
                <p class="text-[var(--color-primary)]">På Tothaven er vi glade for dyr… og dyrene er vist også glade for Tothaven…  Neden for kan du læse om de dyr du kan møde på Tothavens Besøgsgård.</p>
                <button>Lyd knap</button>
            </div>
        </div>
        

        <div class="grid grid-cols-3 gap-4 mb-10">
           <Dyrecard 
            image="/public/img/grise.webp" 
            imagealt="Kune Kune grise" 
            titel="Kune Kune Grise"
            backtitle="Kune Kune Grise"
            backtext="Vores små, tamme grise fra New Zealand elsker mennesker og kommer tæt på. De græsser i stedet for at rode, og hvert forår og sommer får vi nye kuld. Kune Kune betyder “fed og rund” på maori – og det passer perfekt!"
            sound="/public/sounds/gris.mp3"
            />
            
            <Dyrecard 
            image="/public/img/miniaesler.webp" 
            imagealt="Miniæsel" 
            titel="Miniature Æsler"
            backtitle="Miniature Æsler"
            backtext="I 2021 flyttede miniatureæslene Tom og Knut ind på Tothaven. De er nysgerrige og nuttede – og tit dem, der tager imod jer ved indgangen. Deres “storesøster” Marie har boet her siden 2017, hvor Andrea fik hende i 10-års gave."
            sound="/public/sounds/aesel.mp3">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/hoens.webp" 
            imagealt="Høns" 
            titel="Høns"
            backtitle="Høns"
            backtext="På Tothaven er de fleste af dyrene her mest for hyggens skyld og fordi vi bare synes at det er rigtigt sjovt at have husdyr og give dem et godt og værdigt liv. Men der er et par af dyreflokkene som ikke kun er her for at hygge med, men som også har et job. Det er gederne der laver mælk til os og hønsene der lægger æg."
            sound="/public/sounds/hons.mp3">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/geder.webp" 
            imagealt="Malkegeder" 
            titel="Malkegeder"
            backtitle="Malkegeder"
            backtext="Vores geder giver os mælk, kød og smukke skind – og dermed også ost, is og yoghurt. De elsker at gnaske bark og nåle fra lokale fyrretræer, især om vinteren. I 2019 åbnede vi et lille gårdmejeri, hvor I kan smage vores egne mejeriprodukter – direkte fra gederne på marken."
            sound="/public/sounds/ged.mp3">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/kaniner.webp" 
            imagealt="Kaniner" 
            titel="Kaniner"
            backtitle="Kaniner"
            backtext="Kaninerne på gården leverer i sommerhalvåret en lind strøm af små søde kaninunger, som gårdens besøgende kan få lov at kæle med. Det er en blanding af løvehoved og dværgkanin som er super søde og bløde.">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/valais.webp" 
            imagealt="Valais Får" 
            titel="Valais Får"
            backtitle="Valais Får"
            backtext="Valais fårene Jørgen og Lilly flyttede ind på Tothaven i 2022. De er Tothavens første får, og vi håber at de med tiden kan velsigne os med lam. Pelsen fra fårene bliver brugt til at filte de små Tothaven-filtdyr, som kan købes i vores butik."
            sound="/public/sounds/faar.mp3"
            >

            </Dyrecard>

            <Dyrecard 
            image="/public/img/dexter.webp" 
            imagealt="Dexter kvæg" 
            titel="Dexter kvæg"
            backtitle="Dexter kvæg"
            backtext="I foråret 2023 flyttede kalvene Sanne og Luna ind. Sanne er ren Dexter, og Luna er halvt Jersey. Dexter-kvæg er en af verdens mindste racer og bliver sjældent over en meter høje. De stammer fra Irland og blev kaldt “fattigmandskøer” – men her hos os er de bare elskede!"
            sound="/public/sounds/ko.mp3">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/aender.webp" 
            imagealt="Løbeænder" 
            titel="Løbeænder"
            backtitle="Løbeænder"
            backtext="Løbeænder har vi også på Tothaven. De marcherer i takt og snakker meget. De har en sjov opretstående figur, der får dem til at minde om en lille militær enhed, når de kommer trampende forbi. Løbeænder kommer oprindeligt fra asien hvor de er blevet brugt igennem århundreder til sneglebekæmpelse i markerne."
            sound="/public/sounds/and.mp3">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/kalkun.webp" 
            imagealt="Kalkuner" 
            titel="Kalkuner"
            backtitle="Kalkuner"
            backtext="Konrad, Connie og Katrine er vores altid sultne kalkuner. De går ofte frit omkring og kagler løs.  Kalkunerne er fredelige, men nysgerrrige, og vil meget gerne følge med i alt vi går og roder i på gården, og står døren åben, vader de gerne indenfor."
            sound="/public/sounds/kalkun.mp3">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/pony.webp" 
            imagealt="Ponyer" 
            titel="Ponyer"
            backtitle="Ponyer"
            backtext="Vi har 7 ponyer – og de er faktisk grunden til, at vi købte Tothaven! Når besøgsgården er åben, kan I møde dem til hyggelige trækture. Til hverdag er de vores kloge og rolige terapiheste for børn og unge med angst, autisme og andre udfordringer."
            sound="/public/sounds/hest.mp3">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/hund.webp" 
            imagealt="Hunde" 
            titel="Hunde"
            backtitle="Hunde"
            backtext="Pirjo (Border Collie) og Chilli (Australian Shepherd) passer godt på Tothaven – de holder ræven væk og patruljerer døgnet rundt. Når vi har åbent, får de pause fra vagten. Af og til får vi hvalpe, som elsker besøg! Sidste år blev én boende: spilopmageren Pippi."
            sound="/public/sounds/hund.mp3">
            </Dyrecard>

            <Dyrecard 
            image="/public/img/kat.webp" 
            imagealt="Katte" 
            titel="Katte"
            backtitle="Katte"
            backtext="Kattene Siv, Nif, Mette og Mymle holder gården rottefri og musebestanden i ave. Og så sørger de for en lind strøm af lækre langhårede killinger."
            sound="/public/sounds/kat.mp3">
            </Dyrecard>
        </div>
    </section>
</MainLayout>