---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="relative w-full overflow-hidden">
    <img src="/public/img/omos.png" alt="Pernille og Jakob" class="w-full" />
    <div class="absolute bottom-12 left-12">
      <h1 class="text-[var(--color-primary-content)]">OM OS</h1>
    </div>
  </div>

  <section
    class="grid lg:grid-cols-2 py-18 px-20 gap-4 text-[var(--color-primary)]"
  >
    <div class="">
      <h2>OS PÅ TOTHAVEN</h2>
      <div class="">
        <p class="mb-8">
          Vi, Pernille, Jakob, Martha og Andrea, har boet her siden februar 2014
          hvor vi købte gården af Søren, som i mange år havde drevet den med
          fritids gartneri og dyrehold. På gården driver vi nu besøgsgård,
          mejeri, strikkeri, og så udbyder vi mentorforløb for udsatte
          unge.Besøger du gården kan du møde mange forskelllige dyr bla: høns,
          Kune Kune grise, Ungarske Uldsvin, malkegeder med kid, moskusænder,
          løbeænder, kalkuner, honningbier, heste, kaniner, katte og æsler.
          Pernille driver sit strik firma, p.feilberg, på gården og fra
          gårdbutikken ved vejen sælger vi æg fra glade høns, gedeoste,
          gedemælksis og rabarber i sæsonen.
        </p>
        <p>
          Vi fik i 2018 fået tilskud fra LAG Gribskov-Halsnæs til at etablere et
          lille gårdmejeri og gårdbutik i en af længerne på gården.
        </p>
      </div>
    </div>
    <div class="flex justify-center">
      <img
        src="/public/img/kogaatur.webp"
        alt="Pernille går tur med ko"
        class="md:h-2/3"
      />
    </div>
  </section>
</MainLayout>
