---
const { titel = "", tekst = "" } = Astro.props;
---

<article
  class="mb-6 p-4 w-full grid grid-cols-1 md:grid-cols-2 gap-4 items-center"
  style="
    background-color: var(--color-base-200);
    color: var(--color-primary);
    border-radius: var(--radius-box);
  "
>
  <div class="w-full">
    <img
      src="../img/hero_billetter.webp"
      alt="billet billede"
      class="w-full h-auto"
    />
  </div>

  <div class="space-y-2">
    <h4 class="">{titel}</h4>
    <p>{tekst}</p>
    <p><slot /></p>
  </div>
</article>
