---
// Henter parametrene fra Astro.props

const { variant= "primary", size = "medium" } = Astro.props; 

 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper

const buttonStyling = "cursor-pointer uppercase rounded-2xl p-2 m-5 text-bold hover:animate-pulse font-['LilitaOne']"; 

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 

const variantClasses = {

"primary": "border-4 bg-[var(--color-accent)] text-[var(--color-accent-content)] hover:bg-transparent hover:text-[var(--color-accent)] hover:border-4 border-[var(--color-accent)]",

"secondary": "bg-transparent text-[var(--color-accent)] border-4 border-[var(--color-accent)] hover:bg-[var(--color-accent)] hover:text-[var(--color-accent-content)]",

};

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.

const sizeClasses = {

"large": "text-4xl",

"medium": "text-2xl",

"small": "text-xl"

};

---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->

<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
