---
const {
  image = "",
  imagealt = "",
  tekst = "",
  url="#",
} = Astro.props;
import Link from "./Link.astro";
---

<div class="relative w-[520px] h-[600px] overflow-hidden p-1">
    <img
      src={image}
      alt={imagealt}
      class="w-full h-full object-cover"
    />
  
    <div class="absolute inset-0 flex items-center justify-center">
        <div class=" text-white text-center p-4 rounded-xl w-3/4 max-w-sm opacity-90" style="background-color: var(--color-primary);">
          <h2 class="text-lg font-semibold">{tekst}</h2>
          <Link class="text-sm mt-1">{url}</Link>
        </div>
      </div>
      