---
const {
  image = "",
  imagealt = "",
  titel = "",
  tekst = "",
  slot = "",
} = Astro.props;
import Button from "./Button.astro";
import Link1 from "./Link1.astro";
import Link from "./Link1.astro";
---

<div class="w-full h-auto overflow-hidden p-1">
  <div>
    <img src={image} alt={imagealt} class="place-self-center w-1/3" />
  </div>
  <div>
    <h3 class="text-center text-[var(--color-primary)]">{titel}</h3>
    <p class="place-self-center text-[var(--color-primary)]">{tekst}</p>
    <Link><slot /></Link>
  </div>
</div>
