---
const {
  variant = "green", // "green" eller "beige"
  image = "",
  title = "",
  content = "",
} = Astro.props;

const green = variant === "green";
const beige = variant === "beige";
---

<article
  class={`flex flex-col md:flex-row w-full min-h-screen items-center justify-center py-8 md:py-16 gap-4
    ${green ? "bg-[var(--color-base-200)]" : ""}
    ${beige ? "bg-[var(--color-base-100)]" : ""}
    text-[var(--color-primary)]`}
>
  <div
    class={`flex justify-start md:justify-center items-center w-full md:w-1/2 ${
      beige ? "order-first" : "order-last"
    }`}
  >
    <img
      src={image}
      alt=""
      class="w-11/12 max-w-xs sm:max-w-md md:max-w-lg h-auto max-h-48 sm:max-h-72 md:max-h-[60vh] mb-6 ml-4 sm:ml-4"
    />
  </div>

  <div class="p-4 sm:p-6 md:p-8 w-full md:w-1/2 flex flex-col justify-center">
    <h3 class="mb-4 uppercase font-bold text-lg sm:text-xl md:text-2xl">{title}</h3>
    <p class="font-body text-base sm:text-lg">{content}</p>
  </div>
</article>

<script type="module">
  import { animate, stagger, inView, scroll } from "https://cdn.jsdelivr.net/npm/motion@latest/+esm";
  	animate( "body", { opacity: [ 0, 1] }, { duration: 0.5 })
</script>